article h1{
	text-align: center;
}
h2{
	font:1.5em/1em 黑体;
}
main{
	background-color: #dfd;
	margin: 0 auto;
	width:90%;
	width: calc(100% - 1.5em);
	max-width: 60.5em;
}
header,footer{
	width: calc(100% - 1.5em);
	min-width: 18.5em;
}
/*列表*/

li li{
}
ul li{
	list-style-type: circle;
}
ul ul>li,ol ul>li,dl ul>li{
	list-style-type: square;
}
ol li{
	list-style-type: cjk-ideographic;
}
ol ol>li,ul ol>li,dl ol>li{
	list-style-type: decimal;
}
dt{
}
dd{
	padding-left:1em;
}
/*多段落文章*/
/*图文混排*/
h1~img{
	width:100%;
}
li img{
	max-width: 20em;
	display: inline-block;
	float:right;
}
article.picture-text li:hover{
	cursor: pointer;
}
article.picture-text li{
	overflow:hidden;
	list-style-type: none;
}
/*表格*/
table{
	width:100%;
	margin: 0 auto;
}
table caption{
	font-size:1.25em;
	padding:0.5em;
	background-color: #6f6;
}
table th{
	background-color: #9f9;
}
table td{
	background-color: #cfc;
}