article h1{
	text-align: center;
}
h2{
	font:1.5em/1em 黑体;
}
main{
	background-color: #ddf;
	margin: 1em auto;
	width:90%;
	width: calc(100% - 3.5em);
	min-width: 18.5em;
	box-shadow: 1px 1px 0px 0px #000,1px 1px 1px 1px #aaf;
}
header,footer{
	width: calc(100% - 3.5em);
	min-width: 18.5em;
}
/*列表*/
ul,ol,dl{
	border-radius: 0.5em;
	background-color: #ccf;
	padding: 0.15em;
}
ul ul,ol ol,ul ol,ol ul{
	border-radius: 0.5em;
	padding: 0.25em;
	background-color: #bbf;
}
li,dd{
	margin-top: 0.125em;
	overflow: hidden;
	list-style-position:  inside;
	background-color: #aaf;
	border-radius: 0.25em;
	padding:0.075em;
}
li li{
	background-color: #99f;
}
ul li{
	list-style-type: circle;
}
ul ul>li,ol ul>li,dl ul>li{
	list-style-type: square;
}
ol li{
	list-style-type: cjk-ideographic;
}
ol ol>li,ul ol>li,dl ol>li{
	list-style-type: decimal;
}
dt{
}
dd{
	padding-left:1em;
}
/*多段落文章*/
/*图文混排*/
h1~img{
	width:100%;
}
li img{
	max-width: 20em;
	display: inline-block;
	float:right;
}
article.picture-text li{
	overflow:hidden;
	list-style-type: none;
}
/*表格*/
table{
	width:100%;
	margin: 0 auto;
}
table caption{
	font-size:1.25em;
	padding:0.5em;
	background-color: #66f;
}
table th{
	background-color: #99f;
}
table td{
	background-color: #ccf;
}