
	/*导航链接*/
	h1{
		text-align:center;
	}
	/*nav a,header>a,header>div,main,aside,footer{
		box-shadow: 1px 1px 0px 0px #000,1px 1px 1px 1px #aaf;
	} */
	nav a{
		transition: all 0.1s linear 0s;
		line-height: 3em;
		text-align: center;
		display: block;
		width:3em;
		border-radius: 1.5em 1.5em 1.5em 1.5em;
	}
	nav a:link,nav a:visited{

	}
	nav a:hover,nav a:focus{
		color: #fff;
		background-color: #77f;/*
		box-shadow: 1px 1px 1px 0px #000,1px 1px 1px 1px #aaf;*/
	}
	nav a:active{
		background-color: #009;
		box-shadow: 1px 1px 1px 0 black inset;
	}
	nav ul{
		padding:0;
		background-color: transparent;
	}
	nav li li a,nav li a{
		background-color: #aaf;
	}
	nav a.thisNav{
	box-shadow:1px 1px 1px 1px #000,2px 2px 1px 2px #aaf;
	color: #fff;
	background-color: #009;
	}
	.prevNav{

	}
	.nextNav{
		
	}
/*head*/
	/*头像*/
	header>a{
		float: left;
		width: 5em;
		height: 5em;
		background-image: url(../images/fly100.png);
		-webkit-background-size: cover;
		background-size: cover;
		border-radius: 0 0 1.5em 0;
	}
	/*链接*/
	header>div{
		border-radius: 0 0 0 1.5em;
		position: relative;
		float: right;
		width: calc(100% - 6em);
		height: 5em;
		min-width: 20em;
	}
		/*注册*/
		header>div>ul{
			display: none;
		}
		header>div>ul,header>div>ul li{
			float: right;
		}
		/*头部导航*/
		header nav{
			position: absolute;
			left:1em;
			top:1em;
			z-index: 1;
			background-color: #ccf;
			clear: both;
			border-radius: 1.5em;
		}
		header nav>ul>li{
			float: left;
		}
		header li ul{
			position: absolute;
			display: none;
		}
		header li:hover ul{
			display: block;
		}
		header nav a{
			margin-right:2px;
		}
/*body*/
.body{
	height:calc(100% - 7em);
	min-height:23em;
}

/*bodyaside*/
aside{
	min-height: calc(100% - 1em);
	padding-top: 1em;
	width: 5em;
	float:left;
	border-radius: 0 1.5em 0 0;
}
aside nav{
	width: 3em;
	background-color: #ccf;
	position: relative;
	left:1em;
	border-radius:1.5em;
}
aside nav li ul{
	float: left;
	position:absolute;
	left:4em;
	top: 2px;
	display: none;
}
aside nav li:hover ul{
	display: block;
}
aside nav a{
	margin-bottom:2px;
}
/*main*/

/*bodymain*/
.body main{
	width:80%;
	width:calc(100% - 8em);
	float:right;
	min-height: calc(100% - 2em);
}
section{
	background-color: #bfb;
	margin:1em 0;
}
section ul{
	height:5em;
	overflow-y: auto;
}
section.programming,section.health{
	width:33.3%;
}
section.programming{
	float:left;
}
section.health{
	float:right;
}
/*表单*/
fieldset{
	border: 0.0625em solid #000;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
/*foot*/
footer{
	text-align:center;
	clear: both;
}

