
	/*导航链接*/
	nav a,header>a,header>div,main,aside,footer{
		box-shadow: 1px 1px 1px 1px #aaf;
	} 
	nav a{
		transition: all 0.1s linear 0s;
		line-height: 3em;
		text-align: center;
		display: block;
		width:4em;
		border-radius: 1.5em 1.5em 1.5em 1.5em;
	}
	nav a:link,nav a:visited{

	}
	nav a:hover,nav a:focus{
		color: #fff;
		background-color: #99f;
		box-shadow: -1px -1px 0 0 #555 inset, -1px -1px 0 0 #99f,1px 1px 1px 1px #aaf;
	}
	nav a:active{
		background-color: #009;
		box-shadow: 1px 1px 1px 0 black inset;
	}
	nav li{
		margin:2px;
	}
	nav li li a,nav li a{
		background-color: #aaa;
	}
	.thisNav{
	color: #fff;
	background-color: #009;
	}
	.prevNav{

	}
	.nextNav{
		
	}
/*head*/
	/*头像*/
	header>a{
		float: left;
		width: 5em;
		height: 5em;
		background-image: url(../images/fly100.png);
		-webkit-background-size: cover;
		background-size: cover;
		border-radius: 0 2.5em 2.5em 2.5em;
	}
	/*链接*/
	header>div{
		border-radius: 2.5em 0 2.5em 2.5em;
		position: relative;
		float: right;
		width: calc(100% - 6em);
		height: 5em;
		min-width: 25em;
	}
		/*注册*/
		header>div>ul,header>div>ul li{
			float: right;
		}
		/*头部导航*/
		header nav{
			position: absolute;
			left:2.5em;
			top:1em;
			z-index: 1;
			background-color: #ccc;
			clear: both;
			border-radius: 1.5em;
		}
		header nav>ul>li{
			float: left;
		}
		header li ul{
			position: absolute;
			display: none;
		}
		header li:hover ul{
			display: block;
		}
/*body*/
.body{
	height:18em;
	min-height: calc(100% - 10em);
}

/*bodyaside*/
aside{
	min-height: calc(100% - 5em);
	padding: 2.5em 0;
	width: 5em;
	float:left;
	border-radius: 2.5em 2.5em 2.5em 0;
}
aside nav{
	width: 4em;
	background-color: #ccc;
	position: relative;
	left:0.5em;
	border-radius:2.5em;
}
aside nav li ul{
	float: left;
	position:absolute;
	left:4em;
	top: -2px;
	display: none;
}
aside nav li:hover ul{
	display: block;
}
/*main*/

/*bodymain*/
.body main{
	width:80%;
	width:calc(100% - 6em);
	min-width: 25em;
	float:right;
	min-height: calc(100% - 5em);
}
/*表单*/
fieldset{
	border: 0.0625em solid #000;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
/*foot*/
footer{
	text-align:center;
	clear: both;
}

