/*全局*/
article, aside, details, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, article, summary {
    display: block;
}
*{
	border:none;
	outline:none;
	padding: 0;
	margin: 0;
	text-decoration:none;
}
html{
	height:1em;
	min-height: 100%;
}
body{
	margin-top: 1em;
	height:calc(100% - 1em);
	font-family: "宋体";
	font-size: 16px;
	background-color: #efe;
}
main{
	padding: 2.5em 0;
	border-radius: 2.5em 2.5em 0 2.5em;
	background-color: #eee;
}
header,.body,footer{
	margin: 1em auto;
	width:90%;
	min-width: 30em;
	background-color: #eee;
}
header:after,.body:after,aside:after{
	content: "";
	display:table;
	clear: both;
} 
header>*,.body>*,footer>*{
	background-color: #ddd;
}
a{
	color: #00f;
	background-color: transparent;
	border: none;
}
a:hover{
	color:#00b;
}
a:active{
	color: #005;
}
li{
	list-style: none;
}
h1{
	font: 2em/1.5em 黑体;
	text-align: center;
}
p{
	text-indent: 1em;
}
footer{
	height: 2em;
}
/*固定导航*/
.square,.circle,.triangleTop,.triangleBottom{
	position: fixed;
}
.square li,.circle li,.triangleTop li,.triangleBottom li{
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
}
.square ul,.circle ul,.triangleTop ul,.triangleBottom ul{
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
}
.circle{
	border:1em solid #000;
	border-radius: 1.5em;
	left: 0;
	top: 0;
}
.triangleTop{
	left: 0;
	border-bottom: 1.732em solid #000;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	bottom: 0;
}
.triangleBottom{
	right: 0;
	border-top: 1.732em solid #000;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	top: 0;
}
.square{
	border:1em solid #000;
	right: 0;
	bottom: 0;
}
.square:hover>ul{
	display: block;
}
.square a{
	display: block;
	width:2em;
	height: 1em;
}
.square>ul{
	background-color: #eee;
	display: none;
	position: absolute;
	right: -1em;
	bottom: -1em;
}
.square li ul{
	background-color: #ddd;
	position:absolute;
	right:2em;
	bottom: 0;
	display: none;
}
.square li:hover ul{
	display: block;
}