/*body*/
*{
	border:none;
	outline:none;
	padding: 0;
	margin: 0;
	text-decoration:none;
}
li{
	list-style: none;
}
body{
	height: 100%;
	font-size: 16px;
	background-color: #efe;
}
a{
	color: auto;
	background-color:auto;
	border: none;
	font-style: normal;
}
nav{
	position: absolute;
	bottom: 0;
	right: 0;
}
nav a:link,nav a:visit{

}
nav a:hover,nav a:focus{
	color: #fff;
	background-color: #99f;
	box-shadow: -1px -1px 1px 0 black inset, -1px -1px 1px 0 #99f;
}
nav a:active{
	background-color: #009;
	box-shadow: 1px 1px 1px 0 black inset;
}
nav a,nav li.ksbd a{
	background-color: #aaa;
	border-right: 0.0625em solid #00f;
	border-bottom:0.0625em solid #00f;
}
nav a{
	line-height: 2em;
	text-align: center;
	display: block;
	width:4em;
	height:2em;
}
nav>ul>li.ksbd>a{
	border-radius: 0.5em 0 0 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
nav li li a, nav li li.ksbd a{
	border: 0.0625em solid #00f;
	border-bottom:none;
	border-radius:0;
}
.ksbd a{
	box-shadow:none!important;
}
/*header*/
.head{
	background-color: #eee;
	width:90%;
	height: 60%;
	min-width: 28em;
	margin: 1em auto;
	position: relative;
}
.head *{
	float:left;
}
.head:after,header:after,footer{
	content: "";
	display:table;
	clear: both;
}
.head header{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left:7.25em;
	background-color: #ddd;
	border-radius: 3.125em 0 0 3.125em;
}
#headhead{
	display: block;
	width: 6.25em;
	height: 6.25em;
	background-color:#bbb;
	background-image: url(../images/fly100.png);
	border-radius: 3.125em;
}
header .vuce{
	float: right;
}
header nav{
	left:3.625em;
	border-left: 0.0625em solid #00f;
	border-radius: 0.5em 0 0 0;
}
header nav a,header nav li.ksbd a{
	border-left: 0.0625em solid #00f;
}
header nav a{
	border-radius: 0.5em 0.5em 0 0;
}
header nav>ul>li.ksbd>a{
	border-right: none;
	width:auto;
	top:0;
	left: 16.5em;
}
.head ul ul,.head li li{
	float: none;
}
header li ul{
	position: absolute;
	top:2em;
	left:auto;
	z-index: 1;
}
header ul ul{
	display: none;
}
header li:hover ul{
	display: block;
}
/*aside*/
.body{
	background-color: #eee;
	min-width: 28em;
	width: 90%;
	min-height: 15em;
	margin: 1em auto;
	position: relative;
}
aside{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	float: left;
	width: 6.25em;
	background-color: #ddd;
	border-radius: 3.125em 3.125em 0 0;
}
aside nav{
	border-radius: 0.5em 0 0 0.5em;
	border-top: 0.0625em solid #00f;
	top: 3.625em;
}
aside nav a,aside nav li.ksbd a{
	background-color: #aaa;
	border-top: 0.0625em solid #00f;
	border-right: 0.0625em solid #00f;
	border-bottom:0.0625em solid #00f;
}
aside nav a{
	border-radius: 0.5em 0 0 0.5em;
}
aside nav>ul>li.ksbd>a{
	border-bottom: none;
	height:auto;
	left:0;
	top: 8.5em;
}
aside nav ul{
	float:left;
}
aside li ul{
	position: absolute;
	left:4em;
	top:0;
	z-index: 1;
}
aside ul ul{
	display: none;
}
aside li:hover ul{
	display: block;
}
/*main*/
main{
	position: absolute;
	top:0;
	bottom: 0;
	left: 7.25em;
	right: 0;
	background-color: #ddd;
	border-radius: 3.125em 0 0 0;
}
h1{
	font-size:3em;
	text-align: center;
	font-family: 黑体;
}
input{
	width:7.5em;
}
.bitian{
	color: red;
}
/*footer*/
footer{
	display: none;
}
footer li{
	float: left;
}


