/*全局*/
article, aside, details, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, article, summary {
    display: block;
}

main ul,main ol,main dl{
	border-radius: 0.5em;
	background-color: #bfb;
	padding: 0.15em;
}
main ul ul,main ol ol,main ul ol,main ol ul{
	border-radius: 0.5em;
	padding: 0.25em;
	background-color: #cfc;
}
main li,main dd{
	margin-top: 0.125em;
	overflow: hidden;
	list-style-position:  inside;
	background-color: #dfd;
	border-radius: 0.25em;
	padding:0.075em;
}
*{
	border:none;
	outline:none;
	padding: 0;
	margin: 0;
	text-decoration:none;
}
html{
	height:1em;
	min-height: 100%;
}
body{
	background-color: #fff;
	background-image: url();
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0;
	height:100%;
	font-family: "宋体";
	font-size: 16px;
}
main{
	padding: 1em;
	border-radius: 1.5em 0 0 0;
}
header{
	background-color: #eef;
}
.body{
	background-color: #efe
}
header,.body,footer{
	width:100%;
	min-width: 25em;
}
footer{
	background-color: #ddd;
}
header:after,.body:after,aside:after{
	content: "";
	display:table;
	clear: both;
} 
header>*,.body>*,footer>*{
	background-color: #ddf;
}
.body>main{
	background-color: #dfd;
	min-width: 18em;
}
a{
	color: #00f;
	background-color: transparent;
	border: none;
}
a:hover{
	color:#005;
}
a:active{
	color: #050;
}
li{
	list-style: none;
}
h1{
	font: 2em/1.5em 黑体;
}
p{
	text-indent: 1em;
}
footer{
	height: 2em;
}
/*固定导航*/
.square,.circle,.triangleTop,.triangleBottom{
	z-index: 1;
	position: fixed;
}
.square li,.circle li,.triangleTop li,.triangleBottom li{
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
}
.square ul,.circle ul,.triangleTop ul,.triangleBottom ul{
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
}
.circle{
	border:1em solid rgba(0,0,0,0.5);
	border-radius: 1em;
	left: 0;
	top: 0;
}
.triangleTop{
	left: 0;
	border-bottom: 1.732em solid rgba(0,0,0,0.5);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	bottom: 0;
}
.triangleBottom{
	right: 0;
	border-top: 1.732em solid rgba(0,0,0,0.5);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	top: 0;
}
.square{
	border:1em solid rgba(0,0,0,0.5);
	right: 0;
	bottom: 0;
}
.square:hover>ul{
	display: block;
}
.square a{
	display: block;
	width:2em;
	height: 1em;
}
.square>ul{
	background-color: #dfd;
	display: none;
	position: absolute;
	right: -1em;
	bottom: -1em;
}
.square li ul{
	background-color: #ddd;
	position:absolute;
	right:2em;
	bottom: 0;
	display: none;
}
.square li:hover ul{
	display: block;
}