/*图文混排*/
h1~img{
	width:100%;
}
section{
	border-radius: 0.5em;
	padding:0.5em;
	background-color: #ccc;
	vertical-align: top;
}
section p{
	background-color: #bbb;
}
h2{
	font:1.5em/1em 黑体;
}
section img{
	display: none;
}
article{
	background-color: #ddd;
	margin: 0 auto;
	width: calc(100% - 5em);
	min-width: 20em;
}