*{
	font-weight: normal;
	border:none;
	outline:none;
	padding: 0;
	margin: 0;
	text-decoration:none;
}
body{
	font-family: "宋体";
}
body>div{
	margin:3px;
	border: 3px double #f0f;
	box-shadow: 0 0 0 1px #00f,0 0 0 2px #f00;
	padding: 0.5em;
	background-color: #dfd;
}
h1,h2,h3{
	font-family: "黑体";
}
h1{
	color: #fff;
	background-color: #000;
	text-align: center;
	font-size: 1.7em;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1em;
}
p{
	text-indent: 1em;
}
pre{
	color: transparent;
	white-space: pre-line;
	padding-left: 3em;
}
div:hover>pre{
	background-color: rgba(0, 0, 0, 0.7);
	color:#fff;
}
/*正文*/
.a1 .b1{
	border: 10px solid hsla(0,0%,100%,0.5);
	background: yellow;
	background-clip: padding-box;
}
.a2 div{
	background: yellowgreen;
}
.a2 .b1{
	box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink,0 0 0 20px green;
	margin: 20px;
}
.a2 .b2{
	border:10px solid #655;
	outline: 5px dashed deeppink;
	outline-offset: -15px;
	padding: 5px;
}
.a3 div{
	background: url("heart.png") no-repeat bottom right #58a;//提供回退
}
.a3 .b1{
	background-position: right 20px bottom 10px;
}
.a3 .b2{
	padding: 10px;
	background-origin: content-box;
}
.a3 .b3{
	background-position: calc(100% - 20px) calc(100% - 10px);
}
.a4 div{
	padding: 1em;
	border-radius:0.8em;
	box-shadow:0 0 0 0.4em #655;
	outline:0.6em solid #655;
	margin:0.6em;
}
.a5 .b1{
	background:linear-gradient(#fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0);
	background-size:100% 30px;
}
.a5 .b2{
	background:linear-gradient(to right, /* 或 90deg */ #fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0);
	background-size: 45px 100%;
}
.a5 .b3{
	background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%,#fb3 0,#fb3 75%,#58a 0);
	background-size: 42.4px 42.4px;
}
.a5 .b4{
	background: repeating-linear-gradient(60deg,#fb3, #fb3 15px, #58a 0, #58a 30px);
}
.a5 .b5{
	background:#58a;
	background-image:repeating-linear-gradient(30deg, hsla(0,0%,100%,0.1), hsla(0,0%,100%,0.1) 15px, transparent 0, transparent 30px);
}
.a6 .b1{
	background: #58a;
	background-image: linear-gradient(white 2px, transparent 0), linear-gradient(90deg,white 2px, transparent 0), linear-gradient(hsla(0,0%,100%,0.3) 1px, transparent 0), linear-gradient(90deg, hsla(0,0%,100%,0.3) 1px, transparent 0);
	background-size: 75px 75px,75px 75px, 15px 15px, 15px 15px;
}
.a6 .b2{
	background: #655;
	background-image: radial-gradient(tan 30%, transparent 0), radial-gradient(tan 30%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}
.a6 .b3{
	background: #eee;
	background-image: linear-gradient(45deg, rgba(0,0,0,0.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,0.25) 0), linear-gradient(45deg, rgba(0,0,0,0.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,0.25) 0);
	background-position: 0 0,15px 15px;
	background-size: 30px 30px,30px 30px;
}
.a7 .b1{
	background: hsl(20, 40%, 90%);
	background-image: linear-gradient(90deg, #fb3 11px, transparent 0), linear-gradient(90deg, #ab4 23px, transparent 0), linear-gradient(90deg, #655 41px, transparent 0);
	background-size: 41px 100%, 61px 100%, 83px 100%;
}
.a8 .b1{
	padding:1em;
	border: 1em solid transparent;
	background:linear-gradient(white,white) padding-box, url(fly.png) border-box 0 0/ cover;
}
.a8 .b2{
	padding:1em;
	border:1em solid transparent;
	background: linear-gradient(white,white) padding-box, repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 0 / 5em 5em;
}
.a8 .b3{
	padding:1em;
	border:1px solid transparent;
	background: linear-gradient(white,white) padding-box, repeating-linear-gradient(-45deg,black 0, black 25%, white 0,white 50%) 0 0 / 0.6em 0.6em;
	animation: ants 12s linear infinite paused;
}
.a8 .b3:hover{
	animation-play-state: running;
}
@keyframes ants {
	from{background-position: 0;}
	to {background-position:100%;}
}
.a8 .b4{
	border-top: 0.2em solid transparent;
	border-image: 100% 0 0 linear-gradient(90deg, currentColor 4em, transparent 0);
	padding-top:1em;
}
.a9 .b1{
	background: #fb3;
	border-radius: 50%;
}
.a9 .b2{
	background: #fb3;
	border-radius: 50% / 100% 100% 0 0;
}
.a9 .b3 {
	background: #fb3;
	border-radius: 100% 0 0 ;
}
.a10 .b1{
	position:relative;
	z-index: 0;
}
.a10 .b1::before{
	content:"";
	position: absolute;
	top:0; right: 0; bottom: 0; left: 0;
	z-index:-1;
	background: #58a;
	transform: skew(-5deg);
}
.a11 .b1 .picture{
	width:100px;
	height:100px;
	transform: rotate(45deg) scale(0.625);
	overflow: hidden;
}
.a11 .b1 .picture>img{
	width: 100%;
	transform: rotate(-45deg) scale(1.6);
}
.a11 .b2 img{
	-webkit-clip-path: polygon(50% 0%,100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transition: 1s -webkit-clip-path, clip-path;
}
.a11 .b2 img:hover{
	-webkit-clip-path: polygon(0% 0%, 100% 0%,100% 100%,0% 100%);
	clip-path: polygon(0% 0%, 100% 0%,100% 100%,0% 100%);
}















#code-button{
	width:0;
	position: fixed;
	top:0;
	right:0;
}
#code-button:hover{
	width:auto;
}
#code-button button{
	width:71px;
	height: 18px;
	display: block;
}